<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark indigo fixed-top">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Andrómeda Labs</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li {%if section == 'index'%} class="nav-item active" {%else%}  class="nav-item"{%endif%}>
                        <a class="nav-link" href="{% url 'core:dashboard' %}">Inicio</a>
                    </li>
                    <li {%if section == 'hiscli'%} class="nav-item active" {%else%}  class="nav-item"{%endif%}>
                      <a class="nav-link" href="{% url 'core:historia_clinica' %}">Historial Clínico</a>
                    </li>
                    <li {% if section == 'lab' %} class="nav-item active" {% else %} class="nav-item" {%endif%}>
                        <a class="nav-link" href="{% url 'core:laboratorio' %}">Laboratorio</a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Perfil</a>
                            <a class="dropdown-item" href="#">Configuración</a>
                            <hr>
                            <a class="dropdown-item" href="{% url 'auth:logout' %}">Cerrar sesión</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:user_register' %}">Registrate</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'auth:login' %}" class="nav-link">Entrar</a>
                    </li>
                </ul>
                {% endif %}
            <!-- Links -->

        </div>
        <!-- Collapsible content -->

    </nav>
<style type="text/css">
    body {
            padding-top: 60px;
          }
    @media (min-width: 992px) {
        body {
                padding-top: 56px;

        }
</style>
