{% include "global/base.html" %}

<!--{% block title %} Andromeda Labs {% endblock %} -->
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="page-header">Pacientes - </h1>
            <p>
<!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                Nuevo paciente
            </button>
            </p>
                    <!-- Search form -->
            <form class="form-inline">
                <input class="form-control" type="text" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-indigo btn-sm"><i class="fa fa-search"></i></button>
            </form>
<!--Table-->
<table class="table" id="table-results">

        <!--Table head-->
        <thead class="mdb-color darken-3">
            <tr class="text-white">
                <th>#</th>
                <th>Nombre(s)</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th>Telefono</th>
                <th>Dirección</th>
                <th>Localización</th>
                <th>E-mail</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          {% include "hiscli/includes/partial_paciente_list.html" %}
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->

    <!-- Modal create paciente -->
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar un paciente nuevo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="savePaciente" action="{% url 'core:pacientes_list' %}" method="post" >{%csrf_token%}
                            <input type="text" required name="first_name"
                            class="form-control" id="id_first_name" placeholder="Nombre(s)">

                            <input type="text" required name="last_name" class="form-control"
                            id="id_last_name" placeholder="Apellidos">

                            <label for="id_gender">Selecciona el sexo</label>
                            <select class="form-control" name="gender" id="id_gender" required>
                                <option value="F">Femenino</option>
                                <option value="M">Masculino</option>
                                <option value="O">Otro</option>
                            </select>

                            <h4>Edad</h4>
                            <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="yyyy-mm-dd">
                              <input name="birth_day" class="span2" size="16" type="text" value="12-02-2012">
                              <span class="add-on"><i class="icon-th"></i></span>
                            </div>

                            <label for="id_phone_number">Número de telefono</label>
                            <input type="text" maxlength="13" required class="form-control"
                            placeholder="Número de telefono" name="phone_number" id="id_phone_number">

                            <label for="id_civil_status">Estado civil</label>
                            <select name="civil_status" id="id_civil_status" required class="form-control">
                                <option value="C">Soltero</option>
                                <option value="S">Casado</option>
                                <option value="D">Divorciado</option>
                            </select>

                            <label for="id_religion">Religión</label>
                            <select name="religion" id="id_religioon" required class="form-control">
                                <option value="Ninguna">Ninguna</option>
                                <option value="Catolicísmo">Catolicísmo</option>
                                <option value="Cistrianísmo">Cristianísmo</option>
                                <option value="Islam">Islam</option>
                                <option value="Judaísmo">Judaísmo</option>
                                <option value="Otra">Otra</option>
                            </select>

                            <input type="text" placeholder="Dirección" required class="form-control"
                            id="id_address" name="address">

                            <input type="text" placeholder="País" required class="form-control"
                            id="id_country" name="country">

                            <input type="text" placeholder="Ciudad" required class="form-control"
                            id="id_city" name="city">

                            <input type="text" placeholder="Localidad/municipio" required class="form-control"
                            id="id_location" name="location">

                            <label for="id_scholarship">Ultimo grado de estudios</label>
                            <select name="scholarship" id="id_scholarship" required class="form-control">
                                <option value="Primaria">Primaria</option>
                                <option value="Secundaria">Secundaria</option>
                                <option value="Preparatoria">Preparatoria</option>
                                <option value="Carrera universitaria">Universidad</option>
                                <option value="Otro">Otro</option>
                            </select>

                            <input type="text" required class="form-control" placeholder="Ocupación"
                            id="id_ocupattion" name="ocupattion">

                            <input type="text" class="form-control" placeholder="Otra ocupación"
                            id="id_ocupattion2" name="ocupattion2">

                            <input type="email" required class="form-control" placeholder="E-mail"
                            id="id_email" name="email">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" value="Guardar" id="btnGuardarPaciente">
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">

$("#dp3").datepicker();
$("#btnGuardarPaciente").click(function() {
    $.ajax({
        url: '{% url "core:pacientes_list" %}',
        type: 'POST',
        data: $("#savePaciente").serialize(),
        dataType: 'json',
        success: function(data) {
            console.log(data);
            alert("Paciente agregado!.");
            $("#exampleModal").modal('toggle');
            if (data) {
              var len = data.length;
              var txt = "";
              if (len > 0) {
                for (var i = 0; i<len; i++) {
                  if (data[i].id && data[i].first_name) {
                    txt += "<tr><td>" + data[i].id + "</td><td>" + data[i].first_name + "</tr><td>";
                  }
                }
                if (txt != "") {
                  $("#table-results tbody").append(txt);
                }
              }
            }
        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    });
});

  $(".btnDeletePaciente").click(function(e){
      e.preventDefault();
      var pkg = $(this).attr("name");
      $.ajax({
        type: 'DELETE',
        url: '/api/paciente-detail/' + pkg,
        success: function() {
          alert("Paciente eliminado.");
          location.href="/historia-clinica/";
        },
        error: function () {
          console.log("error en algún lado");
        }
      });

  });
</script>

<style type="text/css">
    .hide{
        display: none;
    }
    label{margin-left: 20px;}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}
</style>
{% endblock content %}
