{% extends "global/base.html" %}

{% block title %} {{paciente.first_name}} {% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <div class="container" onload="getEstudios();">
    <div class="row">
      <div class="col-md-12">
        <div class="card-header deep-orange lighten-1 white-text" style="text-align:center;">
          Detalle de paciente - {{paciente.get_full_name}} #uid {{paciente.udi}}
        </div>
        <br>
        <div class="jumbotron">
            <h1 class="h1-responsive">Información personal general</h1>
            <!-- Button trigger modal -->
            <button id="btnEdit" type="button" class="btn btn-unique btn-sm" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-pencil"></i> Editar
            </button>
            <!-- Button trigger Delete modal -->
            <button type="button" id="deletePacienteDetail" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">
                <i class="fa fa-trash"></i> Eliminar
            </button>
            <!-- Button trigger addEstudio modal -->
            <button type="button" id="addEstudio" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#addEstudioModal">
                <i class="fa fa-plus"></i> Agregar Estudio
            </button>

              {% include "hiscli/includes/edit_paciente_modal.html" %}
              {% include "hiscli/includes/delete_paciente_modal.html" %}
            <p class="lead">
              <div class="row">
                <div class="col">
                  <input type="text" id="object_to_delete" hidden value="{{paciente.pk}}">
                  <b>Nombre(s)</b><br>
                  <b>Apellidos</b><br>
                  <b>Sexo</b><br>
                  <b>Fecha de nacimiento</b><br>
                  <b>Edad</b><br>
                  <b>Número de telefono</b><br>
                  <b>Estado civil</b><br>
                  <b>Religión</b><br>
                </div>
                <div class="col">
                  {{paciente.first_name}}<br>
                  {{paciente.last_name}}<br>
                  {% if paciente.gender == "F" %}
                    Femenino
                  {% elif paciente.gender == "M" %}
                    Masculino
                  {% endif %}
                  <br>
                  {{paciente.birth_day}}<br>
                  {{paciente.get_age}}<br>
                  +52 {{paciente.phone_number}}<br>
                  {% if paciente.civil_status == "S" %}
                    Soltero(a)
                  {% elif paciente.civil_status == "C" %}
                    Casado(a)
                  {% elif paciente.civil_status == "D" %}
                    Diviorciado(a)
                  {% endif %}<br>
                  {{paciente.religion}}
                </div>
                <div class="col">
                  <b>Dirección</b><br>
                  <b>País</b><br>
                  <b>Estado</b><br>
                  <b>Localidad</b><br>
                  <b>Ultimo grado de estudios</b><br>
                  <b>Ocupación primaria</b><br>
                  <b>Ocupación secundaria</b><br>
                  <b>Correo electrónico</b>
                </div>
                <div class="col">
                  {{paciente.address}}<br>
                  {{paciente.country}}<br>
                  {{paciente.city}}<br>
                  {{paciente.location}}<br>
                  {{paciente.scholarship}}<br>
                  {{paciente.ocupattion}}<br>
                  {% if paciente.ocupattion2 == null %}
                    No tiene
                  {% else %}
                    {{paciente.ocupattion2}}
                  {% endif %}<br>
                  {{paciente.email}}
                </div>
              </div>
            </p>
            <hr class="my-2">
            <h2>Antecedentes</h2>
            <!-- Button trigger modal -->
            <button type="button" id="btnAddAntecedente" class="btn btn-deep-purple btn-sm" data-toggle="modal" data-target="#antecedente">
              Agregar
            </button>
            {% include "hiscli/includes/add_antecedente.html" %}
            <p class="lead">
              <div class="row">
                <div class="col">
                  <b>Motivo de la consulta</b><br><br>
                  <b>Antecedentes de enferdad(es)</b>
                </div>
                <div class="col">
                  {{antecedentes.motivo}}<br><br>
                  {{antecedentes.antecedentes}}
                </div>
              </div>
            </p>
            <hr>
            <h2>Antecedentes HeredoFamiliares</h2>
            <p class="lead">
              <div class="row">
                <div class="col">
                  <b>Padres (Vivos/muertos)</b><br>
                  <b>¿Causa de muerte?</b><br><br>
                  <b>Hermamos (Vivos/muertos)</b><br>
                  <b>¿Causa de muerte?</b><br><br>
                  <b>Hijos (Vivos/muertos)</b><br>
                  <b>¿Causa de muerte?</b><br><br>

                </div>
                <div class="col">
                  {% if ahf.parents == "V" %}
                    Vivos
                  {% else %}
                    Muertos
                  {% endif %}<br>
                  {{ahf.parents_causa}}<br><br>
                  {% if ahf.brothers == "V" %}
                    Vivos
                  {% else %}
                    Muertos
                  {% endif %}<br>
                  {{ahf.brothers_causa}}<br><br>
                  {% if ahf.sons == "V" %}
                    Vivos
                  {% else %}
                    Muertos
                  {% endif %}<br>
                  {{ahf.sons_causa}}<br>
                </div>
                <div class="col">
                  <b>Diabetes Mellitus (DBT)</b><br>
                  <b>HiperTensión Arterial (HTA)</b><br>
                  <b>Tuberculosis (TBC)</b><br>
                  <b>Gemelar (GM)</b><br>
                  <b>Otra</b>
                </div>
                <div class="col">
                  {% if ahf.DBT == "P" %}
                    Positivo
                  {% else %}
                    Negativo
                  {% endif %}<br>
                  {% if ahf.HTA == "P" %}
                    Positivo
                  {% else %}
                    Negativo
                  {% endif %}<br>
                  {% if ahf.TBC == "P" %}
                    Positivo
                  {% else %}
                    Negativo
                  {% endif %}<br>
                  {% if ahf.GM == "P" %}
                    Positivo
                  {% else %}
                    Negativo
                  {% endif %}<br>
                  {{ahf.other}}
                </div>
              </div>
            </p>
            <hr>
            <h2>Antecedentes personales</h2>
            <div class="row">
              <div class="col">
                <b>Alcohol</b><br>
                <b>Tabaco</b><br>
                <b>Drogas</b><br>
                <b>Infusiones</b><br>
              </div>
              <div class="col">
                {{ap.alcohol}}<br>
                {{ap.tabaco}}<br>
                {{ap.drogas}}<br>
                {{ap.infusiones}}<br>
              </div>
            </div>
            <hr>
            <h2>Antecedentes Fisiológicos</h2>
            <div class="row">
              <div class="col">
                <b>Dipsia</b><br>
                <b>Diuresis</b><br>
                <b>Catarsis</b><br>
                <b>Somnia</b><br>
                <b>Otra(s)</b><br>
              </div>
              <div class="col">
                {{fisio.dipsia}}<br>
                {{fisio.diuresis}}<br>
                {{fisio.catarsis}}<br>
                {{fisio.somnia}}<br>
                {{fisio.others}}<br>
              </div>
            </div>
            <hr>
            <h2>Patológicos</h2>
            <div class="row">
              <div class="col">
                <b>Infancia</b><br>
                <b>Adulto</b><br>
                <b>Diabetes Mellitus</b><br>
                <b>HiperTensión Arterial</b><br>
                <b>Tuberculosis</b><br>
                <b>Gemelar</b><br>
              </div>
              <div class="col">
                {{pato.infancia}}<br>
                {{pato.adulto}}<br>
                {{pato.DBT}}<br>
                {{pato.HTA}}<br>
                {{pato.TBC}}<br>
                {{pato.GM}}<br>
              </div>
              <div class="col">
                <b>Otras</b><br>
                <b>Quirurgicos</b><br>
                <b>Traumalógicos</b><br>
                <b>Alergicos</b><br>
                <b>Otras</b><br>
              </div>
              <div class="col">
                {{pato.other}}<br>
                {{pato.quirurgicos}}<br>
                {{pato.traumalogicos}}<br>
                {{pato.alergicos}}<br>
                {{pato.others}}<br>
              </div>
            </div>
            <hr>
            <h2>Signos vitáles</h2>
            <div class="row">
              <div class="col">
                <b>Pulso</b><br>
                <b>Temperatura</b><br>
                <b>Respiración</b><br>
                <b>Presión Arterial</b><br>
              </div>
              <div class="col">
                {{signos.pulso}}<br>
                {{signos.temperatura}}<br>
                {{signos.respiracion}}<br>
                {{signos.arterial}}<br>
              </div>
            </div>
            <hr>
            <h2>Estudios de Laboratorio</h2>
            <p class="lead">

            </p>
            <h5>Si los datos no aparecen, de click en cargar datos.</h5>
            <button class="btn btn-info" id="loadEstudios">Cargar datos</button>
            <div class="">
              <!--Table-->
              <table class="table">

                  <!--Table head-->
                  <thead class="mdb-color darken-3">
                      <tr class="text-white">
                          <th>#</th>
                          <th>Paciente</th>
                          <th>Estudio</th>
                          <th>Detalle</th>
                          <th>Notas</th>
                          <th>Estado</th>
                          <th>Fecha</th>
                      </tr>
                  </thead>
                  <!--Table head-->

                  <!--Table body-->
                  <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                      </tr>
                  </tbody>
                  <!--Table body-->
              </table>
              <!--Table-->

            </div>
        </div>
        <a class="btn btn-primary btn-lg" role="button">Imprimir reporte/PDF</a>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="addEstudioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar un nuevo estudio - Paciente {{paciente.first_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form class="sendEstudio" action="" method="post">
                <select class="form-control selectEstudio" name="selectEstudios"></select>
                <input type="text" hidden id="idEstudio" name="idEstudio" value="">
                <label for="detalle_estudio">Agregar detalle de estudio</label>
                <textarea name="detalle_text" id="detalle_estudio" rows="8" cols="80" class="form-control"></textarea>
                <label for="id_notes">Notas de enfermera/médico</label>
                <textarea name="id_notes" id="id_notes" class="form-control" rows="8" cols="80"></textarea>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnSaveEstudio" class="btn btn-primary">Agregar estudio</button>
            </div>
        </div>
    </div>
</div>

  <script type="text/javascript">
  $(document).ready(function () {
    $("#btnEdit").click(function(e){
      e.preventDefault();
      $.ajax({
        type: 'GET',
        url: $(".form-edit").attr('action'),
        data: {},
        dateType: 'json',
        success: function(data) {
          console.log(data);
          $("#id_first_name").val(data.first_name);
          $("#id_last_name").val(data.last_name);
          $("#id_gender").val(data.gender);
          $("#id_birth_day").val(data.birth_day);
          $("#id_phone_number").val(data.phone_number);
          $("#id_civil_status").val(data.civil_status);
          $("#id_religion").val(data.religion);
          $("#id_address").val(data.address);
          $("#id_country").val(data.country);
          $("#id_city").val(data.city);
          $("#id_location").val(data.location);
          $("#id_scholarship").val(data.scholarship);
          $("#id_ocupattion").val(data.ocupattion);
          $("#id_ocupattion2").val(data.ocupattion2);
          $("#id_email").val(data.email);
        },
        error: function(data) {
          console.log(data);
        }
      });
    });
    $("#btnSave").click(function(e) {
      e.preventDefault();
      var pacienteU = {
          'first_name': $("#id_first_name").val(),
          'last_name': $("#id_last_name").val(),
          'gender': $("#id_gender").val(),
          'birth_day': $("#id_birth_day").val(),
          'phone_number': $("#id_phone_number").val(),
          'civil_status': $("#id_civil_status").val(),
          'religion': $("#id_religion").val(),
          'address': $("#id_address").val(),
          'country': $("#id_country").val(),
          'city': $("#id_city").val(),
          'location': $("#id_location").val(),
          'scholarship': $("#id_scholarship").val(),
          'ocupattion': $("#id_ocupattion").val(),
          'ocupattion2': $("#id_ocupattion2").val(),
          'email': $("#id_email").val(),
      }
      $.ajax({
        type: 'PUT',
        url: '/api/paciente-detail/' + $("#object_to_delete").val() + '/',
        data: JSON.stringify(pacienteU),
        contentType: "application/json; charset=utf-8",
        success: function(res) {
          console.log(res)
        },
        error: function(res) {
          console.log(res);
        }
      });
    });

    $("#btnAddAntecedente").click(function(e) {
      e.preventDefault();
      $.ajax({
        type: 'GET',
        url: $(".formAddPaciente").attr('action'),
        data: {},
        dateType: 'json',
        success: function(res) {
          console.log(res);
          $(".formAddPaciente textarea").val(res.antecedentes);
        },
        error: function(res) {
          console.log(res);
        }
      });
    });

    var pk = $("#object_to_delete").val();
    $("#DeletePacienteYes").click(function(e) {
      e.preventDefault();
      $.ajax({
        type: 'DELETE',
        url: "/api/paciente-detail/" + pk,
        success: function() {
          alert("Paciente eliminado.");
          location.href="/historia-clinica/"
        },
        error: function() {
          console.log("hubo un error");
        }
      });
    });
    $("#addEstudio").click(function(e) {
      e.preventDefault();
      $.ajax({
        method: 'GET',
        url: '/api/check-estudio/',
        data: {},
        dataType: 'json',
        success: function(data) {
          var optionHTML = '<option value="" disabled selected>Selecciona un estudio</option>';
          for (var i=0; i<data.length; i++) {
            //console.log(data[i]);
            optionHTML += ('<option class="optionSelect" data-id="' + data[i].id + '">' + data[i].id + ' | ' + data[i].name + '</option>');
            //$(".selectEstudio").html(optionHTML);
          }
          $(".selectEstudio").html(optionHTML);
        },
        error: function(xhr, resp, text) {
          console.log(xhr, resp, text);
        }
      }).done(function() {
        $.ajax({
          url: "{% url 'core:pacientes_list' %}",
          method: 'GET',
          data: {},
          dataType: 'json',
          success: function(response) {
            var pacienteHTML = '<option value="" disabled selected>Selecciona un paciente</option>';
            for (var j = 0; j<response.length; j++){
              var res = response[j];
              pacienteHTML += '<option>' + res.first_name + '</option>';
            }
            $(".selectPaciente").html(pacienteHTML);
          },
          error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
          }
        });
      });
    });
    // Peticion AJAX para agregar un nuevo estudio a un paciente
    $("#btnSaveEstudio").click(function(e) {
      e.preventDefault();
      var estudio = $(".optionSelect").val();
      var detalle = $("#detalle_estudio ").val();
      var notas = $("#id_notes").val();

      estudioN = estudio.charAt(0);
      //var result = JSON.parse({'paciente': pk, 'nEstudio': estudio, 'estudioDetalle': detalle, 'nurseNotes': notas});
      $.ajax({
        url: '{% url "lab:estudio-create" %}',
        type: 'POST',
        data: {'paciente': pk, 'nEstudio': estudioN, 'estudioDetalle': detalle, 'nurseNotes': notas},
        dataType: 'json',
        success: function(data) {
          alert("Agregado");
          console.log(data);
          $("#detalle_estudio ").val('');
          $("#id_notes").val('');
        },
        error: function(xhr, res, text) {
          console.log(xhr, res, text);
        }
      });
    });
    // Traer todos los estudios de laboratorio del paciente
    $("#loadEstudios").click(function (e) {
      e.preventDefault();
      $.ajax({
        url: '/api/get_estudios/' + pk + '/',
        type: 'GET',
        data: {},
        dataType: 'json',
        success: function(data) {
          console.log(data);
          var dat = data[i];
          for (var i = 0; i<data.length; i++) {
            console.log(data[i].user);
          }
        },
        error: function(xhr, res, text) {
          console.log(xhr, res, text);
        }
      });
    });
  });

  </script>
{% endblock content %}
