.form-header {
    color: #fff;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 5px 10px #888888;
}
#form-login{
    margin-top: 80px;
    
}
.hide{
    display: none;
}