{% extends 'global/base.html' %}

{% block title %} Laboratorio {% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="jumbotron">
          <h1 class="h1-responsive">Estudios de laboratorio</h1>
          <hr>
          <div class="row">
            <div class="col-3">
              <div class="list-group">
                {% for estudio in estudios %}
                  <a href="#" class="list-group-item" data-id="{{estudio.id}}">{{estudio.name}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" id="hola" data-toggle="modal" data-target="#exampleModal">
              Agregar un estudio
          </button>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar un nuevo estudio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form class="sendEstudio" action="" method="post">
                <select class="form-control selectPaciente" name="selectPaciente"></select>
                <select class="form-control selectEstudio" name="selectEstudios"></select>
                <label for="detalle_estudio">Agregar detalle de estudio</label>
                <textarea name="detalle_text" id="detalle_estudio" rows="8" cols="80" class="form-control"></textarea>
                <label for="id_notes">Notas de enfermera/médico</label>
                <textarea name="id_notes" id="id_notes" class="form-control" rows="8" cols="80"></textarea>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnSaveEstudio" class="btn btn-primary">Agregar estudio</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#hola").click( function(e) {
  e.preventDefault();
  $.ajax({
    method: 'GET',
    url: '/api/check-estudio/',
    data: {},
    dataType: 'json',
    success: function(data) {
      var optionHTML = '<option value="" disabled selected>Selecciona un estudio</option>';
      for (var i=0; i<data.length; i++) {
        //console.log(data[i]);
        optionHTML += ('<option id="' + data[i].id + '">' + data[i].name + '</option>');

        //$(".selectEstudio").html(optionHTML);
      }
      $(".selectEstudio").html(optionHTML);
    },
    error: function(xhr, resp, text) {
      console.log(xhr, resp, text);
    }
  }).done(function() {
    $.ajax({
      url: "{% url 'core:pacientes_list' %}",
      method: 'GET',
      data: {},
      dataType: 'json',
      success: function(response) {
        var pacienteHTML = '<option value="" disabled selected>Selecciona un paciente</option>';
        for (var j = 0; j<response.length; j++){
          var res = response[j];
          pacienteHTML += '<option>' + res.first_name + '</option>';
        }
        $(".selectPaciente").html(pacienteHTML);
      },
      error: function(xhr, resp, text) {
        console.log(xhr, resp, text);
      }
    });
  });
  $("#btnSaveEstudio").click(function(e) {
    e.preventDefault();

    $.ajax({
      url: '{% url "lab:estudio-create" %}',
      method: 'POST',
      data: {},
      dataType: 'json',
      success: function(data) {
        alert("Estudio guardado!");
        console.log(data);
      },
      error: function(xhr, resp, text) {
        console.log(xhr, resp, text);
      }
    });
  });
});
</script>
{% endblock content %}
