{% extends "global/base.html" %}

{% block title %}
    Página no encontrada
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Error: 404</h1>
                <h2>Página no encontrada</h2>
            </div>
        </div>
    </div>
{% endblock content %}