<!-- Modal -->
<div class="modal fade" id="antecedente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form class="formAddPaciente" action="{% url 'core:antecedentes_detail' pk=paciente.pk %}" method="post">
                <label for="txtMotivo">Motivo de la consulta</label>
                <textarea name="motivo" id="txtMotivo" class="form-control" rows="8" cols="80"></textarea>
                <label for="txtAntecedentes">Antecedentes de la enfermedad/sintoma</label>
                <textarea name="antecedentes" id="txtAntecedentes" class="form-control" rows="8" cols="80"></textarea>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
