<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar - {{paciente.get_full_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form class="form-edit" action="{% url 'core:paciente_detail' pk=paciente.pk%}">{% csrf_token %}
                <div class="row">
                  <div class="col">
                    <label for="id_first_name">Nombre(s)</label>
                    <input type="text" name="first_name" id="id_first_name" value="">
                    <label for="id_last_name">Apellidos</label>
                    <input type="text" name="last_name" id="id_last_name" value="">

                    <label for="id_gender">Selecciona el sexo</label>
                    <select class="form-control" name="gender" id="id_gender" required>
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                        <option value="O">Otro</option>
                    </select>

                    <label for="id_birth_day">Fecha de nacimiento</label>
                    <input type="text" placeholder="1996-09-12 YYYY-MM-DD"
                    id="id_birth_day" class="form-control">

                    <input type="text" maxlength="13" class="form-control"
                    placeholder="Número de telefono" name="phone_number" id="id_phone_number">

                    <label for="id_civil_status">Estado civil</label>
                    <select name="civil_status" id="id_civil_status" class="form-control">
                        <option value="C">Soltero</option>
                        <option value="S">Casado</option>
                        <option value="D">Divorciado</option>
                    </select>

                    <label for="id_religion">Religión</label>
                    <select name="religion" id="id_religioon" class="form-control">
                        <option value="Ninguna">Ninguna</option>
                        <option value="Catolicísmo">Catolicísmo</option>
                        <option value="Cistrianísmo">Cristianísmo</option>
                        <option value="Islam">Islam</option>
                        <option value="Judaísmo">Judaísmo</option>
                        <option value="Otra">Otra</option>
                    </select>

                    <input type="text" placeholder="Dirección" class="form-control"
                    id="id_address" name="address">

                    <input type="text" placeholder="País" class="form-control"
                    id="id_country" name="country">

                    <input type="text" placeholder="Ciudad" class="form-control"
                    id="id_city" name="city">

                    <input type="text" placeholder="Localidad/municipio" class="form-control"
                    id="id_location" name="location">

                    <label for="id_scholarship">Ultimo grado de estudios</label>
                    <select name="scholarship" id="id_scholarship" class="form-control">
                        <option value="Primaria">Primaria</option>
                        <option value="Secundaria">Secundaria</option>
                        <option value="Preparatoria">Preparatoria</option>
                        <option value="Carrera universitaria">Universidad</option>
                        <option value="Otro">Otro</option>
                    </select>

                    <input type="text" class="form-control" placeholder="Ocupación"
                    id="id_ocupattion" name="ocupattion">

                    <input type="text" class="form-control" placeholder="Otra ocupación"
                    id="id_ocupattion2" name="ocupattion2">

                    <input type="email" class="form-control" placeholder="E-mail"
                    id="id_email" name="email">
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnSave" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
