{% load widget_tweaks %}

<form method="post" action="{% url 'core:paciente_create' %}" class="js-book-create-form">
        {% csrf_token %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Agregar nuevo paciente</h4>
        </div>
        <div class="modal-body">
          {% include 'hiscli/includes/partial_paciente_form.html' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
</form>