{% include "global/base.html" %}

{% block title %} Gracias por registrarte {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                
                <!--Card-->
                <div class="card card-cascade wider reverse my-4">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title-->
                        <h4 class="card-title"><strong>Bienvenido - {{new_user.first_name}}</strong></h4>
                        <h5 class="indigo-text"><strong>¡Gracias por registrarte!, puedes proceder a 
                            terminar de completar tu perfil y consecuentemente ir con el administrador del
                            sistema para que den la alta como médico o enfermera.
                        </strong></h5>

                        <!--<p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.-->
                        </p>

                        <a href="/accounts/login/" class="icons-sm li-ic"><i class="fa fa-sign-in"> </i> Entrar</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
        </div>
    </div>
{% endblock content %}